---
import "../bootstrap/bootstrap.min.css";

export interface Props {
    title : string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="author" content="Krystian Zieja" />
    <meta name="keywords" content="blurr, newsletter" />
    <meta
      name="description"
      content="Make background blurry images instantly with Blurr. No more expensive photo editors."
    />
    <script defer src="../bootstrap/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
    body {
        width : 100vw;
        height : 100vh;
        background-image: url('../assets/bg.jpg');
        background-size: cover;

        display : flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
</style>
