<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BLURR</title>
    <meta name="author" content="Krystian Zieja" />
    <meta name="keywords" content="blurr, newsletter" />
    <meta
      name="description"
      content="Make background blurry images instantly with Blurr. No more expensive photo editors."
    />
  </head>
  <body>
    <slot />
  </body>
</html>
